In [81]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
path = 'chipotle.tsv'
chipo = pd.read_csv(path, sep = '\t')

In [83]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# 31. What was the most ordered item in the choice_description column?

In [84]:
c1 = chipo.groupby('choice_description')[['quantity']].sum()
c1 = c1.sort_values(['quantity'], ascending=False)
c1.head(1)

                    quantity
choice_description
[Diet Coke]              159

# 32. What is the average revenue amount per order?

In [89]:
c2 = chipo.groupby('order_id')['item_price']
c2.mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

# 33. Which product has the highest total quantity sold?

In [86]:
c3 = chipo.groupby('item_name')['quantity'].sum()
c3 = c3.sort_values(ascending=False)
c3.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

# 34. calculate the average price of each product.

In [87]:
chipo['one_item_price'] = chipo['item_price'] / chipo['quantity']

chipo.groupby('item_name')['one_item_price'].mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.087273
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.431667
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.315588
Carnitas Burrito                          9.975932
Carnitas Crispy Tacos                     9.852857
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.657727
Chicken Burrito                           9.475949
Chicken Crispy Tacos                      9.492340
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.909091
Chicken Soft Tacos                        9.240261
Chips                                     2.149242
Chips and Fresh Tomato Salsa              2.748727
Chips and Guacamole                       4.345616
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.232559
Steak Burrito                             9.993424
Steak Crispy Tacos                        9.952857
Steak Salad                               8.915000
Steak Salad Bowl                         11.027931
Steak Soft Tacos                          9.578182
Veggie Bowl                              10.011882
Veggie Burrito                            9.602842
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.352857
Name: one_item_price, dtype: float64

# 35. Which choice appears most often?

In [90]:
c5 = chipo.groupby('choice_description').size()
c5 = c5.sort_values(ascending=False)
с5 = c5.head(1)
с5.index

Index(['[Diet Coke]'], dtype='object', name='choice_description')